<%- include('header') %>

    <h1>ข้อมูลส่วนตัว</h1>

    <img src="./assets/images/pic1.jpg" class="gallery"/>
    <img src="./assets/images/pic3.jpg" class="gallery"/>
    
    <p class="desc">
        ธันยาภัทร์ อุดมธรรมวัสส์ <br>
        อีเมล์ thanyapatmind@gmail.com <br>
    </p>

<%- include('footer') %>